/* .profile, .right{
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */


body{
    font-family: 'Spoqa Han Sans', 'Zilla Slab';
}


/* ------------ Profile ------------ */
.profile{
    background-color: #38373C;
}

.profile-big-hor{
    border-top-color: rgb(124, 124, 124);
    width: 100%;
}

.profile-sm-hor{
    border-top-color: rgb(124, 124, 124);
    width: 30%;
    margin-top: 0px;
    margin-bottom: 8px;
}

.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profile-content{
    color:white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.profile-name{
    font-family: 'Zilla Slab';
    margin-top: 25px;
    font-size: 30px;
    text-align: center;
}

.profile-topic{
    font-family: 'Zilla Slab';
    font-size: 20px;
}

.profile-sub-topic{
    margin-top: 10px;
    font-size: 18px;
}

.profile-sub-topic-content{
    margin-bottom: 30px;
}

.profile-about-content{
    margin-top: 15px;
    text-align: left;
}


/* ------------- Main Content -------------- */
.right{
    background-color: #f3f3f3;
}

.right-main{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.main-item{
    margin-bottom: 40px;
}

.main-topic{
    font-family: 'Zilla Slab';
    font-size: 20px;
}

.main-content{
    width: 98%;
}

.main-bullet{
    padding-left: 25px;
}

.main-bullet-sub-topic{
    font-size: 18px;
}

.honors{
    margin-top: 10px;
}

.main-bullet-sub{
    padding-left: 20px;
    font-size: 16px;
}

.main-hor{
    border-top-color: rgb(196, 196, 196);
    margin-top: 3px;
}

.education-left{
    font-size: 17px;
}

.education-right{
    text-align: right;
    font-size: 16px;
}

.education-space{
    margin-top: 30px;
}

.research-space{
    margin-top: 25px;
}

.research-left{
    text-align: left;
}

.research-right{
    text-align: right;
}

.teaching-space{
    margin-top: 25px;
}
.teaching-left{
    text-align: left;
    font-size: 17px;
}

.teaching-right{
    text-align: right;
    font-size: 16px;
}